body {
    margin: 0;
    font-family: Arial, sans-serif;
    /* background: #212121;
    color: white; */
}
.heading,
.button {
    display: flex;
    justify-content: center;
    align-items: center;
}
form{
    display: flex;
    justify-content: center;
    align-items: center; 
}
